body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: #fce4ec;
    /* light pink */
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #d81b60;
    /* darker pink */
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    color: #333;
}

.card {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}